*, ::after , ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, rgb(91, 91, 222), white);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.container button{
    padding: 10px;
    border-radius: 15%;
    border: none;
    box-shadow: 0 0 3px black;
    color: white;
    background-color: rgb(111, 217, 111);
    font-size: 18px;
}

.container button:hover{
    background-color:rgb(66, 207, 66); ;
}